/* Animation */
section{

    margin-left: 17rem ;
}
/* Animacion de la CAJA */

.container
{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(41, 31, 14, 0.692);
    box-shadow: 0 25px 45px rgba(104, 97, 97, 0.817);
    border: 1px solid rgba(36, 34, 34, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.858);
    border-bottom: 1px solid rgba(58, 45, 16, 0.728);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Calendario js */
#dycalendar
{
    width: 100%;
    padding: 20px;
}
#dycalendar table
{
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}
#dycalendar table tr:nth-child(1) td{
    background:#a39280 ;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 600;
}
#dycalendar table td
{
    color: rgb(253, 252, 252);
    padding: 10px;
    border-radius: 5px;
}
#dycalendar table td:hover
{
    background-color: #c7aa85;
    color : #ffffff !important;
    border-radius: 2px;
    cursor: pointer;
}


/* @bastndev */